body {
	margin:0;
	padding:0
}

.b-sandbox {
	text-align:center;
	padding:40px 0 0;
}

.b-sandbox__content {
	display:inline-block;
	vertical-align:top
}

.b-sandbox__column {
	display:inline-block;
	vertical-align:top;
	margin:0 40px 0 0;
	text-align:left;
}

.b-sandbox__column:first-child {
	margin-left:0
}

.b-sandbox__column:last-child {
	margin-right:0
}
