.b-test_font-size_32 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 33px;
}
.b-test_font-size_31 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 32px;
}
.b-test_font-size_30 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 31px;
}
.b-test_font-size_29 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 30px;
}
.b-test_font-size_28 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 29px;
}
.b-test_font-size_27 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 28px;
}
.b-test_font-size_26 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 27px;
}
.b-test_font-size_25 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 26px;
}
.b-test_font-size_24 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 25px;
}
.b-test_font-size_23 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 24px;
}
.b-test_font-size_22 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 23px;
}
.b-test_font-size_21 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 22px;
}
.b-test_font-size_20 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 21px;
}
.b-test_font-size_19 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 20px;
}
.b-test_font-size_18 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 19px;
}
.b-test_font-size_17 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 18px;
}
.b-test_font-size_16 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 17px;
}
.b-test_font-size_15 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 16px;
}
.b-test_font-size_14 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 15px;
}
.b-test_font-size_13 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 14px;
}
.b-test_font-size_12 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 13px;
}
.b-test_font-size_11 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 12px;
}
.b-test_font-size_10 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 11px;
}
.b-test_font-size_9 .b-string_custom-underline_linear-gradient-medium {
	background-position:0 10px;
}
