.b-string {
	&_style_custom-underline {
		text-decoration:none;
		background:url('data:image/gif;base64,R0lGODlhAQABAIAAAP8AAAAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
		background-position: 0 100%;
		background-position: 0 calc(1em + 0.07rem);
		background-repeat:repeat-x;

		.b-test-group_font-family_arial & {
			background-position: 0 1em;
		}
	}
}

@-moz-document url-prefix() {
	.b-string {
		&_style_custom-underline {
			background-position: 0 calc(1em + 2px);
		}
	}
}
