.b-string {
	&_style_custom-underline {
		text-decoration:none;

		line-color(color) {
			background:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%221%22%20height%3D%221%22%3E%3Crect%20width%3D%221%22%20height%3D%221%22%20x%3D%220%22%20y%3D%220%22%20style%3D%22fill%3A%23' + color + '%22/%3E%3C/svg%3E');
		}
		line-color('ff0000');

		background-position: 0 100%;
		background-position: left 0 bottom calc(100% - 1.149em);
		background-repeat:repeat-x;

		.b-test-group_font-family_arial & {
			background-position:left 0 bottom calc(100% - 1.01em);
		}
	}
}

@-moz-document url-prefix() {
	.b-string {
		&_style_custom-underline {
			background-position: 0 calc(1em + 2px);
		}
	}
}
